@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.texto{
    background-color: white;
    width: 395px;
    margin-left: -5px;
    height: 439px ;
    border-radius: 20px;
    padding: 24px;
    gap: 32px;
    
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    text-align: justify;
    color: #959595;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin: 0;
    padding: 0;
    border-radius: 20px 20px 20px 20px;
}